@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');

* {
    --panel-background: #3b4252;
    
    --panel-radius: 5px;

    font-family: 'Fira Mono', monospace;
}

body {
    overflow: hidden;
    user-select: none;
    padding: 0;
    margin: 0;
}

#code-panel {
    right: 0px;
    bottom: 0px;
    top: 0px;
    position: absolute;
    background-color: #2e3440;
    color: white;
    font-family: sans-serif;
    --radius: 20px;
    padding: 8px;
    width: 10%;
    max-width: 90%;
    /* min-width: 0.3%; */
    overflow: auto;
}
#bar {
    height: 100.3vh;
    width: 23px;
    --margin: -10px;
    margin-left: -31px;
    margin-top: var(--margin);
    margin-bottom: var(--margin);
    background-color: var(--panel-background);
    position: fixed;
    z-index: 2; /* Should be on top of the code view */
    border-radius: var(--radius) 0 0 var(--radius);
}
#bar > #drag-indicator {
    position: absolute;
    top: 50%;
    margin: 0;
    padding: 0;
    content: url("../../assets/drag-indicator.svg");
}
#code-display-parent {
    display: flex;
    flex-direction: column;
    top: 0;
    position: absolute;
}
#code-display {
    user-select: text;
    font-size: 10pt;
}

.control-panel {
    position: absolute;
}
.panel {
    display: flex;
    flex-direction: row;
    position: relative;
    width: fit-content;
    background-color: var(--panel-background);
    border-radius: var(--panel-radius);
    padding: 8px; /* Panel edge to inputs' edge */
    margin: 15px; /* Screen edge to panel edge */
    gap: 8px;
}

p {
    color: white;
    margin: 0;
    width: auto;
    white-space: nowrap;
}

.transform-label {
    font-size: 0.8em;
    padding: 0;
}

#object-main-control {
    margin-bottom: 8px;
}

#grid-panel { align-items: center }

#object-control-panel {
    display: none;
    flex-direction: column;
}
#object-control-panel > div:nth-child(1) {
    display: flex;
    gap: 8px;
}
#object-control-panel > div:nth-child(1) > :nth-child(2) {
    margin-left: auto;
}

#object-control-panel > div:not(:last-of-type) {
    padding-bottom: 3px;
}

#object-name {
    text-overflow: ellipsis;
    width: auto;
}

.transform > input {
    width: 4rem;
}

.transform > input:not(:last-child) {
    margin-right: 2px;
}